<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Tag</th>
      <th scope="col">Links</th>
      <th scope="col">Content</th>
      <th scope="col" style="text-align: right">Articles count <%= @articles_searches.uniq.count %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "article_row", collection: @articles_searches, as: :article %>
  </tbody>
</table>