<%= form_tag articles_path, method: :get do |form| %>
  <div class="input-group mb-3">
    <%= text_field_tag :query, nil, { class: "form-control", placeholder: 'Fill in...' } %>
    <div class="input-group-append">
      <%= submit_tag "Search", class: "btn btn-outline-secondary"%>
    </div>
  </div>
<% end %>

<%= render partial: "articles_table", articles_searches: @articles_searches %>
